:host{
    background-color: rgb(245, 241, 236);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: masonry;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: stretch;
    padding: 15px;
}